.reservations form{
  border: solid black 2px;
  border-radius: 10px;
  padding: 7px;
  width: 700px;
  margin: auto;
}
.reservations{
  margin-top: 50px;
  padding: 30px 0px;
}
.reservations h1{
  text-decoration: underline;
}
.reservations h2{
  margin: 20px;
  font-size: 20px;
  text-decoration: underline;
}
.reservations p{
  text-align: left;
}
.total{
  font-size: 25px;
  padding: 20px 0px 20px 0px;
  text-decoration: underline;
  font-weight: bold;
}
.reservations p.btn{
  border-radius: 2px;
  text-align: center;
  margin: 10px 0px;
  padding: 0px 3px;
  background-color: grey;
}
.reservations p.btn:hover{
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .reservations form{
    width: 100%;
  }
}
